<header class="image-wrapper image1">
  <section class="grid-wrapper">
    <article class="header">
      <%= image_tag "ImprovePortugalLogoLarge.png" %>
      <%= render 'form' %>

      <p id="notice" class="white"><%= notice %></p>
    </article> 
  </section>
  
</header>

<section class="grid-wrapper">
  <table>
  <% @ideas.each do |idea| %>
    <tr>
      <td style="position: relative;">
        <%= link_to idea do %>
          <h5 class="text-no-margin"><%= idea.description %></h5>
        <% end %>
        <p><small><fb:comments-count href=http://127.0.0.1:3000/ideas/<%= @idea.id %>/></fb:comments-count> comentários</small></p>
        <div class="right-zone">
          <p style="text-align: right; margin: 0;line-height: 80px; font-size: 22px;">
            <a href="#" class="idea-thumbs-down" data-idea="<%= idea.id %>"><span class="vote-link">-</span></a>
             <strong data-plusminus-id="<%= idea.id %>"><%= idea.plusminus %></strong>
             <a href="#" class="idea-thumbs-up" data-idea="<%= idea.id %>"><span class="vote-link">+</span></a>
           </p>
        </div>
      </td>

      <!-- <td><%#= link_to 'Show', idea %></td>
      <td>
      <td><%#= link_to 'Destroy', idea, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
    </tr>
  <% end %>
  </table>
</section>
