<header class="image-wrapper image1">
  <section class="grid-wrapper">
    <article class="header">
      <%= image_tag "ImprovePortugalLogoLarge2.png" %>
      <%= render 'form' %>

      <p id="notice" class="white"><%= notice %></p>
    </article> 
  </section>
  
</header>

<section class="grid-wrapper">
  <table>
  <% @problems.each_with_index do |problem,i| %>
    <tr>
      <td style="position: relative;" class="<%= 'first' if i == 0 %>">
        <%= link_to problem do %>
          <h4 class="text-no-margin"><%= problem.description %></h4>
        <% end %>
        <p style="font-size: 16px;">
          <fb:comments-count href=http://oquefaltaemportugal.herokuapp.com/problems/<%= @problem.id %>/></fb:comments-count> COMENTÁRIOS
        </p>
        <div class="right-zone">
          <p style="text-align: right; margin: 0;line-height: 80px; font-size: 22px;">
            <a href="#" class="problem-thumbs-down" data-problem="<%= problem.id %>"><span class="vote-link">-</span></a>
             <strong data-plusminus-id="<%= problem.id %>"><%= problem.plusminus %></strong>
             <a href="#" class="problem-thumbs-up" data-problem="<%= problem.id %>"><span class="vote-link">+</span></a>
           </p>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
</section>


