<% content_for :title, "O que falta em Portugal" %>

<header class="image-wrapper image1">
  <section class="grid-wrapper">
    <article class="header">
      <%= image_tag "ImprovePortugalLogoLarge2.png" %>
      <%= render 'form' %>

      <p id="notice" class="white"><%= notice %></p>
    </article> 
  </section>
  
</header>

<section class="grid-wrapper">
  <table>
  <% @problems.each_with_index do |problem,i| %>
    <tr>
      <td style="position: relative;" class="<%= 'first' if i == 0 %>">
        <%= link_to problem do %>
          <h4 class="text-no-margin"><%= problem.description %></h4>
        <% end %>
        <p style="font-size: 16px;">
          <fb:comments-count href=http://oquefaltaemportugal.herokuapp.com/problems/<%= problem.id %>></fb:comments-count>
           COMENTÁRIOS
          
        </p>
        <div class="right-zone">
          <p style="text-align: right; margin: 0;line-height: 90px; font-size: 22px;">
            <a href="#" class="problem-thumbs-down" data-problem="<%= problem.id %>"><span class="vote-link">-</span></a>
             <strong data-plusminus-id="<%= problem.id %>"><%= problem.plusminus %></strong>
             <a href="#" class="problem-thumbs-up" data-problem="<%= problem.id %>"><span class="vote-link">+</span></a><br>
             <span style="font-weight:700;font-size:12px; position: absolute; top: 19px; right: 6px;">KARMA</span>
           </p>
        </div>
      </td>
    </tr>
  <% end %>
  </table>
</section>

<footer>
  <div class="grid-wrapper">
    <h4>Sobre &quot;O que falta em Portugal&quot;</h4>
    <p>Este projecto foi inspirado no <a href="#">O que Falta em Coimbra</a>, e pretende ser o ponto de partida para fazermos de Portugal um país melhor. Tens um problema na tua cidade ou país? Então este site é para ti.</p>

    <h4>O que acontece aos problemas aqui listados?</h4>
    <p>Cada problema tem associado uma conversa que poderá (e deverá) ser usada para discutir soluções e resoluções do mesmo. Quem quiser solucionar os problemas poderá assim contar com a ajuda da comunidade.</p>

    <h4>Agradecimentos</h4>
    <%= link_to "http://oquefaltaemcoimbra.pt/", style: "margin-right: 10px;" do %>
      <%= image_tag "oqfcoimbra.png" %>
    <% end %>
    <%= link_to "http://opostartupweek.com/" do %>
      <%= image_tag "oposw.png" %>
    <% end %>
  </div>
</footer>
