<% content_for :title, @problem.description %>

<section class="colored-wrapper full-height">
  <section class="grid-wrapper">
    <div class="box">
    	<%= link_to problems_path, style: "width: 75px; height: 44px;" do %>
  			<%= image_tag "logo-back.png", style: "cursor: pointer;" %>
  		<% end %>
    	<h2><%= @problem.description %></h2>
        
		<p><small>
			ESTE PROBLEMA TEM <strong data-plusminus-id="<%= @problem.id %>"><%= @problem.plusminus %></strong> KARMA
		</small></p>
		<p><small>
          ESTE PROBLEMA TEM <strong><fb:comments-count href=http://oquefaltaemportugal.herokuapp.com/problems/<%=@problem.id%>></fb:comments-count></strong> COMENTÁRIOS
        </small></p>
      	

      	<div class="fb-comments" data-href="http://oquefaltaemportugal.herokuapp.com/problems/<%= @problem.id %>" data-width="855" data-num-posts="10"></div>
    </div>
  </section>
  
</section>

<footer class="sticky">
  <div class="grid-wrapper">

    
    <%= link_to "http://alumniei.fe.up.pt/", style: "float: right;margin-right: 20px;margin-top: -2px;" do %>
      <%= image_tag "alumniEI_logo2.png", width: 150 %>
    <% end %>
    <span style="float: right;font-size: 14px;text-transform: uppercase;margin-right: 10px;line-height: 37px;">Feito por:</span>
  </div>
</footer>