<% content_for :title, "Improve Portugal" %>

<header class="image-wrapper image2">
  <section class="grid-wrapper">
    <article class="header">
      <%= image_tag "improveportugal.png" %>
    </article> 
  </section>
  
</header>

<section class="grid-wrapper c63">

	<h4 class="c63">O que é o <strong>Improve Portugal</strong>?</h4>
	<p>Improve Portugal é uma <a class="c63" href="http://en.wikipedia.org/wiki/Hackathon">hackathon</a> de 24h com o objectivo de criar projectos de base tecnológica que melhorem a comunidade em que as pessoas estão inseridas.</p>
  <br>

    <p><em>In a nutshell:</em></p>
    <ul>
      <li><p>Reunião de pessoas com <em>backgrounds</em> diferentes com vista a incentivar a capacidade de <em>“getting things done”</em>;</p></li>
      <li><p>Criar projectos que melhorem a comunidade, i.e. que resolvam problemas específicos;</p></li>
      <li><p>Foco na execução de projectos que resolvam um problema, ficando o modelo de negócio para mais tarde.</p></li>
    </ul>

  <div style="margin: 30px 0; overflow: hidden;">
    <div style="width: 40%; float: left;padding:0 5%;">
      <%= image_tag "diagram.png"%>
      <br><p style="text-align: center;margin-top:10px;"><small>O nosso lema é juntar pessoas com vontade de fazer coisas e melhorar comunidades.</small></p>
    </div>
    

    <div style="width: 50%; float: left;">
      <h4 class="c63">Quando?</h4>
      <p>Dia 31 de Maio a 1 de Junho. 24 horas seguidas e uma comunidade melhor depois do evento.</p>

      <h4 class="c63">Onde?</h4>
      <p><strong><a href="http://factscoworking.com/" class="c63">Facts Coworking</a></strong><br>
        <small>Rua 5 de Outubro, n° 156<br>
        Centro Comercial Sirius Loja 23,<br>
        4100-172 Porto
      </small></p>  
    </div>
  </div>


  

  

  <h4 class="c63">Como podes participar?</h4>
  <p>O evento é limitado a 30 pessoas e tem um custo simbólico de 10€ (que é apenas para alimentação). A ideia é tu não te teres de preocupar com o que vais comer, e nós tratamos disso por ti. Os 10€ inclui 1 jantar + 1 almoço + café + bebidas durante o evento. Para te inscreveres preenche o nosso <a class="c63" href="https://docs.google.com/forms/d/1Uy0nlVmws5L4q6t07nreRRrlMxLtR9vDAm5mqi-xGO4/viewform">formulário</a>.</p>
  <br>
  <a href="https://docs.google.com/forms/d/1Uy0nlVmws5L4q6t07nreRRrlMxLtR9vDAm5mqi-xGO4/viewform" class="button c63">Inscrever no evento</a>




  <h4 class="c63">Queres participar e não tens uma ideia?</h4>
  <p>Não te preocupes. Podes inspirar-te nos problemas sugeridos pela comunidade em <a class="c63" href="oquefaltaemportugal.pt.vu">O que falta em Portugal</a>. Durante o <strong>Improve Portugal</strong> irás ter oportunidade de encontrares as pessoas certas que te ajudem a melhorar a comunidade. </p>
  


	<h4 class="c63">Quem pode participar?</h4>
	<p>O número de participantes é limitado (por motivos de espaço). Toda a gente pode participar, mas daremos preferências a pessoas que já tenham ideias ou, se não tiverem, pessoas com o seguinte know-how:
  <ul>
    <li><p>Engenharia (software, electrotecnia, multimédia)</p></li>
    <li><p>Negócio (gestão, finanças, economia, marketing)</p></li>
    <li><p>Design (web, gráfico, producto)</p></li>
  </ul>


  <h4 class="c63">Quem organiza o <em>Improve Porto</em>?</h4>
  <p>O Improve Porto é organizado pela <a href="http://alumniei.fe.up.pt/" class="c63">AlumniEI</a> &mdash; Associação de Antigos Alunos de Engenharia Informática da <a href="http://fe.up.pt/" class="c63">FEUP</a>.</p>
  <a href="http://alumniei.fe.up.pt/" class="c63"><%= image_tag "alumniEI_logo.png", width: 400 %></a>



</section>

<footer style="margin-top: 200px;">
  <div class="grid-wrapper">
    <%= link_to "http://oquefaltaemportugal.pt.vu/", style: "float: right;" do %>
      <%= image_tag "logo-small.png" %>
    <% end %>
    <%= link_to "http://alumniei.fe.up.pt/", style: "float: right;margin-right: 20px;margin-top: -2px;" do %>
      <%= image_tag "alumniEI_logo2.png", width: 150 %>
    <% end %>
    <span style="float: right;font-size: 14px;text-transform: uppercase;margin-right: 10px;line-height: 37px;">Feito por:</span>
  </div>
</footer>